<html layout:decorate="~{layout}">
  <style layout:fragment="style">
    .text-muted {
      color: #6c757d; /* Bootstrap text-muted color */
    }


  </style>

<!--  <th:block layout:fragment="script_head">
    <script src="/settings-modal.js" defer></script>
  </th:block>-->

  <div layout:fragment="content" class="container my-5">
    <div class="container mt-5">
      <div class="row">
        <div th:each="board : ${boards}" class="col-lg-4 col-md-6 mb-5">
          <div class="card shadow">

            <div class="card-header bg-gradient-primary text-white d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <h5 class="mb-0 font-weight-bold">
                  <a class="text-black text-decoration-none" th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a>
                  <small class="text-muted" th:text="'(' + ${board.postCounts} + '개)'"></small>
                </h5>
                <!-- Add Settings Button for Admin Users -->
                <div sec:authorize="hasAuthority('ADMIN')" class="ms-2">
                  <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#settingsModal" th:data-board-id="${board.id}" th:data-board-title="${board.title}" th:data-board-desc="${board.description}" th:data-board-pagination="${board.paginationType}">설정</button>
                </div>
              </div>
              <a th:href="@{|/board/${board.id}|}" class="btn btn-light btn-sm text-primary">More</a>
            </div>

            <!-- Card Body -->
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li th:each="post : ${boardToLatestPosts.get(board.id)}" class="list-group-item">
                  <!-- Changed text color to darker shade -->
                  <a class="text-dark text-decoration-none" th:href="@{|/post/${post.id}|}" th:text="|${post.title} [${post.commentCount}]|"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg"> <!-- Adjusted modal size -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settingsModalLabel">게시판 설정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="settingsForm" action="/api/boards" method="post" class="mb-4">
              <input  th:if="${_csrf}"  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <input type="hidden" name="_method" value="PUT"/>

              <fieldset>
                <legend>General Settings</legend> <!-- Group Title -->
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="boardId" class="form-label">게시판 ID</label>
                    <input type="text" class="form-control" id="boardId" name="boardId" disabled>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="boardTitle" class="form-label">새로운 게시판 이름</label>
                    <input type="text" class="form-control" id="boardTitle" name="title" required>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="boardDescription" class="form-label">게시판 설명</label>
                  <textarea class="form-control" id="boardDescription" name="desc" rows="3"></textarea>
                </div>
              </fieldset>

              <fieldset>
                <legend>Pagination Settings</legend> <!-- New Group Title -->
                <div class="mb-3">
                  <label for="paginationType" class="form-label">페이지네이션 타입</label>
                  <select id="paginationType" name="paginationType" class="form-select">
                    <option th:each="type : ${paginationTypes}"
                            th:value="${type}"
                            th:text="${ type}">
                    </option>
                  </select>
                </div>
              </fieldset>

              <button type="submit" class="btn btn-primary">저장</button>
            </form>

            <button id="deleteBoardBtn" class="btn btn-danger mb-4" data-board-id="{id}">Delete Board</button>

            <form id="bulkInsertForm" action="/api/posts" method="post">

              <input th:if="${_csrf}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <fieldset>
                <legend>Bulk Post Insert</legend> <!-- Group Title -->
                <div class="mb-3">
                  <label for="bulkPostTitle" class="form-label">포스트 제목</label>
                  <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="mb-3">
                  <label for="bulkPostCount" class="form-label">포스트 개수</label>
                  <input type="number" class="form-control" id="count" name="count" required>
                </div>
                <button type="submit" class="btn btn-secondary">Bulk Insert</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>



    <script src="/settings-modal.js" defer></script>
  </div>

</html>
