<!doctype html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Bootstrap JS -->
        <!--<script th:src="@{/bootstrap.min.js}"></script>-->

        <th:block layout:fragment="script_head"></th:block>

        <th:block layout:fragment="style"></th:block>

        <th:block layout:fragment="title">
            <title th:unless="${title}" th:text="'OHSite'"></title>
            <title th:if="${title}" th:text="${title}"></title>
        </th:block>


    </head>


    <body>

        <!-- 네비게이션바 -->
        <nav th:replace="~{navbar :: navbarFragment}"></nav>

        <!-- 기본 템플릿 안에 삽입될 내용 Start -->
        <th:block layout:fragment="content"></th:block>
        <!-- 기본 템플릿 안에 삽입될 내용 End -->



        <th:block layout:fragment="script"></th:block>


    </body>
</html>