<html layout:decorate="~{layout}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<title layout:fragment="title" th:text="${response.title}">

</title>

<div layout:fragment="content" class="container my-3">

    <a th:href="@{|/board/${response.boardID}|}" class="btn btn-secondary my-3">
        <i class="fas fa-arrow-left"></i> 목록
    </a>

    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${response.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div th:utext="${response.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${response.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(response.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${response.authorID != null}" th:text="${response.authorName}"></span>
                    </div>
                    <div th:text="${#temporals.format(response.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>



            <div class="my-3">

                <button class="btn btn-sm me-2"
                        th:classappend="${response.liked} ? 'btn-success' : 'btn-outline-success'"
                        th:attr="liked=${response.liked}"
                        th:onclick="|likePost(${response.id})|"
                        id = "like-btn_post">

                    추천 <span  id="like-count_post" th:text="${response.likeCount}">0</span>
                </button>






                <a th:href="@{|/post/modify/${response.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${response.mine}"
                   th:text="수정"></a>
            </div>

            <!--data-uri 속성은 자바스크립트에서 클릭 이벤트 발생시 this.dataset.uri와 같이 사용하여 그 값을 얻을 수 있다.-->
            <a href="javascript:void(0);"
               th:data-uri="@{|/api/posts/${response.id}|}"
               th:data-id="${response.id}"
               th:attr="boardId=${response.boardID}"
               class="delete btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${response.mine}"
               onclick="deletePost(this)"
               th:text="삭제"></a>

        </div>
    </div>


    <!-- 댓글 개수  -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|댓글 (${#lists.size(comments)}개)|"></h5>


    <!-- 댓글들 나열 -->
    <div class="card my-3" th:each="comment : ${comments}" th:id="|comment_${comment.id}|">
        <div class="card-body">


            <!-- Comment View -->
            <div th:id="|comment-view-group_${comment.id}|">
                <!-- Comment Text -->
                <div class="card-text mb-3" style="white-space: pre-line;" th:text="${comment.content}" th:id="|content-view_${comment.id}|"></div>

                <!-- Comment Meta Information -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <small class="text-muted">
                            <span th:if="${comment.writer != null}" th:text="${comment.writer}"></span>,
                            <span th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </small>
                    </div>
                    <div th:if="${comment.modifyDate != null}" class="text-muted">
                        <small>(modified at
                            <span th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>)
                        </small>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="comment-actions d-flex justify-content-end">

                    <!-- Like Button -->
                    <button class="btn btn-sm me-2"
                            th:classappend="${comment.getLiked()} ? 'btn-success' : 'btn-outline-success'"
                            th:onclick="|likeComment(${comment.id})|"
                            th:id="|like-btn_${comment.id}|"
                            th:attr="liked=${comment.getLiked()}">
                        추천 <span  th:id="|like-count_${comment.id}|" th:text="${comment.getLikeCount()}">0</span>
                    </button>

                    <!-- Edit Button -->
                    <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary me-2"
                       sec:authorize="isAuthenticated()"
                       th:if="${comment.writer != null and #authentication.getPrincipal().getUsername() == comment.writer}"
                       th:onclick="|editComment(${comment.id})|" th:text="수정"></a>

                    <!-- Delete Button -->
                    <a href="javascript:void(0);"
                       th:data-uri="@{|/api/comments/${comment.id}|}"
                       th:data-id="${comment.id}"
                       class="btn btn-sm btn-outline-danger"
                       sec:authorize="isAuthenticated()"
                       th:if="${comment.writer != null and #authentication.getPrincipal().getUsername() == comment.writer}"
                       onclick="deleteComment(this)"
                       th:text="삭제"></a>
                </div>
            </div>

            <!-- Edit Comment Section -->
            <div th:id="|comment-edit-group_${comment.id}|" class="my-3 d-none">
                <textarea class="form-control mb-2" th:id="|content-edit_${comment.id}|" th:text="${comment.content}" rows="5"></textarea>
                <button class="btn btn-primary me-2" th:onclick="|updateComment(${comment.id})|">변경</button>
                <button class="btn btn-secondary" th:onclick="|cancelEdit(${comment.id})|">취소</button>
            </div>



        </div>
    </div>

    <!-- 새로운 댓글 작성 -->
    <form th:action="@{|/post/${response.id}/comments|}" th:object="${commentForm}"  method="post" class="my-3">

        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="등록" class="btn btn-primary my-2">
    </form>
</div>

<script layout:fragment="script" type='text/javascript'>
    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    function deletePost(element) {
        var url = element.getAttribute('data-uri');
        var postId = element.getAttribute('data-id');
        var boardId =  element.getAttribute('boardId');

        if (!confirm('게시글을 삭제하시겠습니까?')) {
            return;
        }

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
                // CSRF 토큰 추가
            },
            credentials: 'include' // 쿠키 포함
        })
            .then(response => {
                if (response.ok) {
                    alert('게시글이 성공적으로 삭제되었습니다.');
                    window.location.href = '/board/' + boardId;


                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('삭제 중 오류가 발생했습니다:', error);
                alert('게시글 삭제에 실패했습니다: ' + error);
            });
    }






    function editComment(commentId) {
        var viewGroup = document.getElementById('comment-view-group_' + commentId);
        var editGroup = document.getElementById('comment-edit-group_' + commentId);

        // 기존 댓글 내용 숨기기
        viewGroup.style.display = 'none';
        // 편집 가능한 영역 표시
        editGroup.classList.remove('d-none');
    }

    function cancelEdit(commentId) {

        var viewGroup = document.getElementById('comment-view-group_' + commentId);
        var editGroup = document.getElementById('comment-edit-group_' + commentId);

        // 편집 가능한 영역 숨기기
        editGroup.classList.add('d-none'); // 수정 화면을 다시 숨깁니다.
        // 기존 댓글 내용 표시
        viewGroup.style.display = 'block';
    }

    // updateComment 함수는 서버에 변경 사항을 전송하는 로직을 포함해야 함
    function updateComment(commentId) {
        var content = document.getElementById('content-edit_' + commentId).value;

        // AJAX 요청
        fetch('/api/comments/' + commentId, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            // CSRF 토큰 추가
            },
            credentials: 'include', // 쿠키 포함
            body: JSON.stringify({ content: content })
        })
            .then(response =>{
                if(response.ok) {
                    // 변경된 내용 기존 text 변경
                    document.getElementById('content-view_' + commentId).textContent = content;
                    // 성공 처리 로직
                    cancelEdit(commentId);
                }
                else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch((error) => {
                console.error('댓글 변경 중 오류가 발생했습니다:', error);
                alert('댓글 변경에 실패했습니다: ' + error);
            });

    }





    function deleteComment(element) {
        var url = element.getAttribute('data-uri');
        var commentId = element.getAttribute('data-id');


        if (!confirm('댓글을 삭제하시겠습니까?')) {
            return;
        }

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
                // CSRF 토큰 추가
            },
            credentials: 'include' // 쿠키 포함
        })
            .then(response => {
                if (response.ok) {
                    alert('댓글이 성공적으로 삭제되었습니다.');
                    var commentElement = document.getElementById('comment_' + commentId);
                    if (commentElement) {
                        commentElement.parentNode.removeChild(commentElement);
                    }


                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('삭제 중 오류가 발생했습니다:', error);
                alert('댓글 삭제에 실패했습니다: ' + error);
            });
    }
    // 댓글 추천

    function updateLikeButton(commentId, liked, count){
        var buttonId = 'like-btn_' + commentId;
        var button = document.getElementById(buttonId);
        var buttonLiked = button.getAttribute('liked')  === 'true';

        var likeCountSpan = button.querySelector('span'); // 버튼 내부의 span 요소를 찾습니다.


        if(buttonLiked !== liked){
            // liked 매개변수의 값에 따라 클래스와 'liked' 속성을 업데이트합니다.
            if (liked) {

                button.classList.add('btn-success');
                button.classList.remove('btn-outline-success');
                button.setAttribute('liked', 'true');
            } else {
                button.classList.add('btn-outline-success');
                button.classList.remove('btn-success');
                button.setAttribute('liked', 'false');
            }
        }

        if(count != null){
            document.getElementById("like-count_" + commentId).textContent = count;
        }
    }

    function likeComment(commentId){
        var buttonId = 'like-btn_' + commentId;
        var button = document.getElementById(buttonId);
        var isLiked = button.getAttribute('liked')  === 'true';  // boolean 타입으로 변경



        if(!isLiked){

            if (!confirm('이 댓글을 추천 하시겠습니까?')) {
                return;
            }

            fetch("/api/comments/"+commentId +"/commentLikes", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                    // CSRF 토큰 추가
                },
                credentials: 'include' // 쿠키 포함
            }).then(response => {
                if (response.ok) {
                    response.json().then(
                        data=>{
                            console.log(data["count"]);
                            updateLikeButton(commentId, true, data["count"])
                            if(data["changed"]) {
                                alert('댓글을 추천 하였습니다.');
                            }
                            else
                                alert('이미 추천 하였습니다.')

                        }

                    )

                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
                .catch(error => {
                    console.error('추천 중 오류가 발생했습니다:', error);
                    alert('댓글 추천에 실패했습니다: ' + error);
                });

        }
        else{
            if (!confirm('추천을 취소 하시겠습니까?')) {
                return;
            }

            fetch("/api/comments/"+commentId +"/commentLikes", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                    // CSRF 토큰 추가
                },
                credentials: 'include' // 쿠키 포함
            }).then(response => {
                if (response.ok) {
                    response.json().then(
                        data=>{
                            console.log(data.toString());
                            updateLikeButton(commentId, false, data["count"])
                            if(data["changed"]) {
                                alert('추천을 취소 하였습니다.');
                            }
                            else
                                alert('이미 취소 하였습니다.')

                        }
                    )

                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
                .catch(error => {
                    console.error('댓글 추천 취소 오류가 발생했습니다:', error);
                    alert('추천 취소에 실패했습니다: ' + error);
                });

        }


    }


    function updatePostLikeButton(postId, liked, count){
        var buttonId = 'like-btn_post';
        var button = document.getElementById(buttonId);
        var buttonLiked = button.getAttribute('liked')  === 'true';

        var likeCountSpan = button.querySelector('span'); // 버튼 내부의 span 요소를 찾습니다.


        if(buttonLiked !== liked){
            // liked 매개변수의 값에 따라 클래스와 'liked' 속성을 업데이트합니다.
            if (liked) {

                button.classList.add('btn-success');
                button.classList.remove('btn-outline-success');
                button.setAttribute('liked', 'true');
            } else {
                button.classList.add('btn-outline-success');
                button.classList.remove('btn-success');
                button.setAttribute('liked', 'false');
            }
        }

        if(count != null){
            document.getElementById("like-count_post").textContent = count;
        }
    }


    function likePost(postId){
        var buttonId = 'like-btn_post'
        var button = document.getElementById(buttonId);
        var isLiked = button.getAttribute('liked')  === 'true';  // boolean 타입으로 변경



        if(!isLiked){

            if (!confirm('이 댓글을 추천 하시겠습니까?')) {
                return;
            }

            fetch("/api/posts/"+postId +"/postLikes", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                    // CSRF 토큰 추가
                },
                credentials: 'include' // 쿠키 포함
            }).then(response => {
                if (response.ok) {
                    response.json().then(
                        data=>{
                            console.log(data["count"]);
                            updatePostLikeButton(postId, true, data["count"])
                            if(data["changed"]) {
                                alert('게시글을 추천 하였습니다.');
                            }
                            else
                                alert('이미 추천 하였습니다.')

                        }

                    )

                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
                .catch(error => {
                    console.error('추천 중 오류가 발생했습니다:', error);
                    alert('게시글 추천에 실패했습니다: ' + error);
                });

        }
        else{
            if (!confirm('추천을 취소 하시겠습니까?')) {
                return;
            }

            fetch("/api/posts/"+postId +"/postLikes", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                    // CSRF 토큰 추가
                },
                credentials: 'include' // 쿠키 포함
            }).then(response => {
                if (response.ok) {
                    response.json().then(
                        data=>{
                            console.log(data.toString());
                            updatePostLikeButton(postId, false, data["count"])
                            if(data["changed"]) {
                                alert('추천을 취소 하였습니다.');
                            }
                            else
                                alert('이미 취소 하였습니다.')

                        }
                    )

                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
                .catch(error => {
                    console.error('게시글 추천 취소 오류가 발생했습니다:', error);
                    alert('추천 취소에 실패했습니다: ' + error);
                });

        }


    }


</script>


</title>